/* signup.module.css */

.signUpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signupform {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 9rem;
  
  }
  
  .signupform h2 {
    color: #224957;
    font-size: 2.5rem;
    font-weight:bolder;
    margin-right: 9.5rem;
    
  }
  
  .signupform input {
    background: #f4f6f8;
    border: 1px solid #7064e5;
    border-radius: 10px;
    box-sizing: border-box;
    color: #7064e5;
    font-size: 1.2em;
  }
  
  .signupform button {
    background: #7064e5;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
    color: #fff;
    font-size: 1.2em!important;
    padding: 0.4em!important;
    width: 100%;
  }
  
  .signupform button:hover {
    background-color: #2980b9;
  }
  